.header {
  background-color: #a6a6a6;
  padding: 25px;
  margin-bottom: 20px;
  /* border-radius: 5%; */
}
.list {
  display: flex;
  gap: 20px;
}
.item {
  list-style: none;
}
.link {
  color: aliceblue;
  font-size: 30px;
  text-decoration: none;
}
.active {
  color: #ffcccc;
}
