.header {
  background-color: #a6a6a6;
  padding: 25px;
  margin-bottom: 20px;
}
.list {
  display: flex;
  gap: 20px;
}
.item {
  list-style: none;
}
.link {
  color: #bfbfbf;
  font-size: 30px;
  text-decoration: none;
}
.active {
  color: #737373;
}
